nav {
  background-color: darkgreen;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  font-family: 'Arial', sans-serif;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-right: 2rem;
}

a {
  text-decoration: none;
  color: #ecf0f1;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  text-transform: capitalize;
}

a:hover {
  color: lightgreen;
}
a.logout:hover {
  color: red;
}

.active {
  font-weight: bold;
  color: lightgreen;
}

.burger-menu {
  display: block;
  background: white;
  border: none;
  cursor: pointer;
  position: absolute;
  margin-top: 0.5rem;
  right: 2rem;
  width: 20px;
  height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .burger-menu {
    display: block;
  }

  ul {
    display: none;
    width: 100%;
    flex-direction: column;
    margin-top: 1rem;
  }

  ul.active {
    display: flex;
  }

  li {
    margin-right: 0;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 901px) {
  .burger-menu {
    display: none;
  }
}
