<h1 style="text-align: center">My Upcoming Hikes</h1> <br>
<div class="hikes-container">
  <div class="search-bar">
    <input type="text" #searchQueryUpcoming (input)="filterUpcoming(searchQueryUpcoming.value)" placeholder="Search for a hike..." />
  </div>

  <div class="hikes-list">
    <div *ngFor="let hike of myUpcomingHikes() | paginate: {id: 'listA', itemsPerPage: 6, currentPage: pageUpcoming}" class="hike-card">
      <h3>{{ hike.name }}</h3>
      <p><strong>Date and Time:</strong> {{ hike.dateAndTime.toDate() | date: 'yyyy.MM.dd HH:mm'}}</p>
      <p><strong>Location:</strong> {{ hike.location }}</p>
      <p><strong>Difficulty:</strong> {{ hike.difficulty }}</p>
      <p><strong>Capacity:</strong> {{ hike.capacity }}</p>
      <p><strong>Length:</strong> {{ hike.length }} km</p>
      <button (click)="seeMore(hike.id)">See More</button>
    </div>
  </div>
  <pagination-controls style="margin-right: 35px;" id="listA" (pageChange)="pageUpcoming = $event"></pagination-controls>
</div>
<br>
<h1 style="text-align: center;">My Shared Hikes</h1> <br>
<div class="hikes-container">
  <div class="search-bar">
    <input type="text" #searchQueryShared (input)="filterShared(searchQueryShared.value)" placeholder="Search for a hike..." />
  </div>

  <div class="hikes-list">
    <div *ngFor="let hike of mySharedHikes() | paginate: {id: 'listB', itemsPerPage: 6, currentPage: pageShared}" class="hike-card">
      <h3>{{ hike.name }}</h3>
      <p><strong>Date and Time:</strong> {{ hike.dateAndTime.toDate() | date: 'yyyy.MM.dd HH:mm'}}</p>
      <p><strong>Location:</strong> {{ hike.location }}</p>
      <p><strong>Difficulty:</strong> {{ hike.difficulty }}</p>
      <p><strong>Capacity:</strong> {{ hike.capacity }}</p>
      <p><strong>Length:</strong> {{ hike.length }} km</p>
      <button (click)="seeMore(hike.id)">See More</button>
    </div>
  </div>
  <pagination-controls style="margin-right: 35px;" id="listB" (pageChange)="pageShared = $event"></pagination-controls>
</div>
<br>
<h1 style="text-align: center;">My Completed Hikes</h1> <br>
<div class="hikes-container">
  <div class="search-bar">
    <input type="text" #searchQueryCompleted (input)="filterCompleted(searchQueryCompleted.value)" placeholder="Search for a hike..." />
  </div>

  <div class="hikes-list">
    <div *ngFor="let hike of myCompletedHikes() | paginate: {id: 'listC', itemsPerPage: 6, currentPage: pageCompleted, totalItems: myCompletedHikes.length}" class="hike-card">
      <h3>{{ hike.name }}</h3>
      <p><strong>Date and Time:</strong> {{ hike.dateAndTime.toDate() | date: 'yyyy.MM.dd HH:mm'}}</p>
      <p><strong>Location:</strong> {{ hike.location }}</p>
      <p><strong>Difficulty:</strong> {{ hike.difficulty }}</p>
      <p><strong>Capacity:</strong> {{ hike.capacity }}</p>
      <p><strong>Length:</strong> {{ hike.length }} km</p>
      <button (click)="seeMore(hike.id)">See More</button>
    </div>
  </div>
  <pagination-controls style="margin-right: 35px;" id="listC" (pageChange)="pageCompleted = $event"></pagination-controls>
</div>
